*{
    box-sizing: border-box;
}
body{
    margin:0;
}
.sidewrapper{
    flex: 0 0 25%;
    border-right:.5px solid #efefef;
    height: 100vh;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.controls{
    background-color: #eee;

}

.top-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px; 
}
.top-control .search{
    border-radius: 5px;
    flex-grow: 1;
    height: 25px;
    background-color: #efefef;
    border: 0;
    outline: 0;
    flex: 0 0 calc(80% - 30px);
    max-width: calc(80% - 30px);
    padding: 0 10px;
}
.top-control .hamburger{
    cursor: pointer;
    flex: 0 0 10%;
    max-width: 10%;
    text-align: left;
}
.top-control .lock{
   cursor:pointer;
   flex: 0 0 10%;
   max-width: 10%;
   text-align: right;
}
.sidebar ul{
    padding: 0;
    list-style: none;
    margin:0;
}
.sidebar ul li{
    padding: 10px 15px;
    display: flex;
}
.sidebar ul li:hover{
    background-color: #efefef;
    cursor: pointer;
}
.sidebar ul li .ituri{
    flex: 0 0 calc(10% + 10px);
}
.sidebar .ituri div{
    width: 40px;
    height: 40px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
}
.sidebar .title{
    flex-grow: 1;
    padding-left: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.sidebar .title .insurant{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.sidebar .title .bottom{
    display: flex;
    font-size:12px;
    font-weight: 100;
}
.sidebar .bottom{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 100;
}
.sidemenu{
    background-color: white;
    width:300px;
    position: absolute;
    height: 100%;
    z-index: 2;
    box-shadow: 0px 0px 5px 1px #555;
    transition:0.4s;
    left:0;
}
.over{
    position: fixed;
    height: 100%;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    z-index: 1;
}
.sidemenu .ava{
    background-image: url(./images/ava.jpeg);
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    padding:8px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-shadow: 1px 1px black;
}
.sidemenu .ava .name{
    color:white;
    font-size:25px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.sidemenu .ava .division{
    color:white;
    font-size:13px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.sidemenu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    margin-top:10px;
}
.sidemenu>ul li{
    
    
}
.sidemenu>ul li .list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    position: relative;
    z-index: 1;
}
.sidemenu>ul li .list-item:hover{
    background-color: #efefef;
    cursor: pointer;
}
.sidemenu>ul li .img{
    width: 35px;
    text-align: left;
}
.sidemenu>ul li .text{
    flex-grow: 1;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 300;
}
.sidemenu .orgname{
    padding: 10px 20px;
    font-family: sans-serif;
    position: fixed;
    bottom: 15px;
    font-size:15px;
    color: grey;
}
.sidemenu .org{
    font-weight: 700;
}
.closed-sidemenu .sidemenu{
    left:-1000px;
    transition:0.4s;
}
.closed-sidemenu .over{
    display: none;
}
.sidemenu .drop {
    margin: 10px 0;
}
.sidemenu .drop li{
    padding: 10px 60px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidemenu .drop li abbr{
    text-decoration: none;
}
.sidemenu .drop li:hover{
    background-color: #efefef;
}

.sidemenu .list-item .img img{
    transform: rotateY(0deg);
    transition: 0.4s;
}
.sidemenu .open-drop .list-item .img img{
    transform: rotateY(180deg);
    transition: 0.4s;
}
.sidemenu .drop{
    margin-top:-45px;
    transition: 0.4s;
}
.sidemenu .open-drop .drop{
    margin-top: 0;
    transition: 0.4s;
}
.anketaCnt{
    width: 80%;
    margin:20px auto;
    font-family: sans-serif;
}
.anketaCnt .row>*{
    padding-bottom: 10px;
}
.anketaCnt .row .label{
    flex: 0 0 40%;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #cecece;
}
.anketaCnt .row .input{
    flex: 0 0 60%;
    padding-left: 10px;

}
.anketaCnt .row .input input{
    border: 1px solid silver !important;
    outline: none;
}
.anketaCnt button{
    cursor: pointer;
}
.anketaCnt .date input:nth-child(2){
    width:100px;
}
.anketaCnt .date>*{
    margin-right:5px;
}
.anketaCnt button{
    padding: 5px 13px;
    border: 1px solid #cbe4f5;
    outline:none !important;
}
.anketaCnt input{
    padding: 5px 10px;
}
.anketaCnt select{
    border:1px solid silver;
    padding: 5px 10px;
    outline:none;
}
.topbar{
    display: flex;
}
.topbar h1{
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    flex-grow: 1;
    padding-right: 20px;
    color: #066686;
}